@charset "utf-8";
/* CSS Document */

a{
	text-decoration:none;
}

/*----------------------INICIO CÓDIGO-------------------*/

body{
	background-image:url(../images/background.jpg);
	background-repeat:no-repeat;
	width:640px;
	height:1136px;
}

header{
	width:634px;
	height:372px;
}

#botonesArriba{
	width:100px;
	height:54px;
	margin-top:69px;
	margin-left:520px;	
}

a#btconfig{
	float:left;
	width:32px;
	height:32px;
	margin-top:0px;
	margin-left:0px;
	background: url(../images/btconfig.svg);
}
a#btconfig:link { background-position: left; }
a#btconfig:hover { background-position: right!important; }

a#btrefresh{
	float:left;
	width:37.91px;
	height:33.07px;
	margin-top:0px;
	margin-left:10px;
	background: url(../images/btrefresh.svg);
}
a#btrefresh:link { background-position: left; }
a#btrefresh:hover { background-position: right!important; }

#Logocc{
	margin-left:194px;
	margin-top:41px;
	width:276px;
	height:110px;
}

#Slogan{
	width:429px;
	height:81px;
	margin-top:50px;
	margin-left:121px;
	font-family: 'Allerta', sans-serif;
	font-weight:400;
	color:#033486;
	font-size:24px;
	letter-spacing:0px;
	text-align:center;
	word-spacing:0px;	
}

section{
	width:625px;
	height:376px;
	margin-top:-32px;
	margin-left:0px;
}

ul{
	width:624px;
	height:375px;
	margin-top:0px;
	margin-left:0px;

}

ul li{
	width:624px;
	height:91px;
	margin-top:0px;
	margin-left:-21px;
	text-decoration:none;
	list-style:none;

}

ul li#BT{
	background-image:url(../images/btBT.svg);
	background-repeat:no-repeat;
	opacity:76%;
	padding-top:32px;
}

ul li#BT:hover{
	width:624px;
	height:91px;
	background-image:url(../images/btBTOver.svg);
	background-repeat:no-repeat;
}

ul li#BCC{
	background-image:url(../images/btBCC.svg);
	background-repeat:no-repeat;
	opacity:76%;
	padding-top:32px;
	margin-top:-29px;
}
ul li#BCC:hover{
	background-image:url(../images/btBCCOver.svg);
	background-repeat:no-repeat;
	padding-top:32px;
	margin-top:-29px;
}

ul li#PD{
	background-image:url(../images/btPD.svg);
	background-repeat:no-repeat;
	opacity:76%;
	padding-top:32px;
	margin-top:-29px;
}
ul li#PD:hover{
	background-image:url(../images/btPDOver.svg);
	background-repeat:no-repeat;
	padding-top:32px;
	margin-top:-29px;
}

ul li#Noti{
	background-image:url(../images/btNoti.svg);
	background-repeat:no-repeat;
	opacity:76%;
	padding-top:32px;
	margin-top:-29px;
}
ul li#Noti:hover{
	background-image:url(../images/btNotiOver.svg);
	background-repeat:no-repeat;
	padding-top:32px;
	margin-top:-29px;
}


ul li a{
	float:left;
	width:624px;
	height:91px;
	margin-top:-4px;
	margin-left:107px;
	font-family:'Allerta', sans-serif;
	font-size:24px;
	color:#7d7d7d;
	font-weight:400;
}



footer{
	width:559px;
	height:306px;
	margin-top:18px;
	margin-left:49px;
	
