@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

@font-face {
	font-family: Allerta;
	src: url('../fonts/Allerta-Regular.ttf');
}
@font-face {
	font-family: PT Sans Normal;
	src: url('../fonts/PT_Sans-Web-Regular.ttf');
}
@font-face {
	font-family: PT Sans Bold;
	src: url('../fonts/PT_Sans-Web-Bold.ttf');
}

body{
	background-image: url(../images/background.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
}


#Header{
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	margin-top:-32px;



}
.atras{
	float:left;
	width:100%;
	height:32px;
	padding-left:15px;
	padding-top:40px;
	display: inline-block;
}



.atras a{
	text-decoration:none;
	color: #FFF;
	font-family: Allerta;
    font-size: 6vw;
}
.atras a:hover{
	width:100%;
	height:32px;
	color: #FFF;
	font-family: Allerta;
    font-size: 6vw;
	background-color:#dcdfe0;
	background-repeat:no-repeat;
	background-position:left center;
}

.atras .back{
    display: inline-block;
    height: 45px;
    width: 25px;
    float: right;
    background-image: url(../images/btAtrasFondo.svg);
    background-repeat: no-repeat;
    background-position: left center;
}

#Contenedor {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	margin-top:-11px;

}
.botonesArriba {
    width: 100%;
    height: 17px;
    padding-right: 15px;	
}

.botonesArriba a{
    width: 27px;
    height: 33px;
    display: inline-block;
    float: right;
    padding-right: 10px;
    background-size: contain;
}

.botonesArriba .btconfig{
	background-image: url(../images/icoconfig.svg);
	background-repeat:no-repeat;
}

.botonesArriba .btconfig:hover{
	background-image:url(../images/btconfigOver.svg);
	background-repeat:no-repeat;
}

.botonesArriba .btrefresh{
	background-image: url(../images/recargar.svg);
	background-repeat:no-repeat;
}

.botonesArriba .btrefresh:hover{
	background-image:url(../images/btrefreshOver.svg);
	background-repeat:no-repeat;
}




.Logocc{
	clear: both;
	float: left;
	margin-top:-35px;
	margin-left: -27px;
	width: 100%;
	display: inline-block;

}
.Logocc a{
	width:276px;
	height:110px;
	display: inline-block;
    float: right;
	background-size: contain;
	
}

.Logocc .logo{
	background-image:url(../images/imagocc%20Home.svg);
	background-repeat:no-repeat;
	
	}
	
	
	
#Arriba{
	width:100%;
	height:480px;
	display:inline-block;
	font-family: Allerta;
    font-size: 6vw;
	color: #7d7d7d;
	background-color:#FFF;
}

#Imagen{
	float:left;
	margin-left:24px;
	margin-top:20px;
	
}
#Imagen h1{
	float:left;
	font-size:16px;
	margin-top:-35px;
	margin-left:59px;
}


#nombre{
	width:100%;
	margin-top:73px;
	margin-left:41px;
	height:350px;
	background-image:url(../images/lineaAzul.svg);
	background-repeat:no-repeat
}
#nombre h3{
	font-size:15px;
	margin-top:0px;
	margin-left:0px;
}
#nombre p{
	margin-top:0px;
	margin-left:17px;
	font-size:13px;
	text-align:justify;
}







footer{
	width:100%;
	height:306px;
	margin-top:18px;
	margin-left:49px;
	}